<section class = "top container">
  <p class = "flash"><%= notice %><%= alert %></p>         <%# ログイン後のフラッシュ %>
  <div id = "top-row" class = "row">
    <div class = "col-sm-4 col-sm-offset-2 hidden-xs">
      <img src = "<%= asset_path"top_iphone.png" %>" id = "top-img" >
    </div>
    <div class = "sign-in col-sm-4">
      <img src = "<%= asset_path"top_iphone.png" %>" id = "top-signin">
    </div>
  </div>
</section>
